@import 'fonts';
@import 'reset';
@import 'animation';

body {
	cursor: none;
	overflow: hidden;
	background-color: #1f1d3e;
}

button[class][disabled] {
	background-color: #7c0420;
	&:hover {
		background-color: #7c0420;
		color: inherit;
	}
}

.d-flex {
	display: flex;
}

.f-d-column {
	flex-direction: column;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.t-a-left {
	text-align: left;
}

.jc-sb {
	justify-content: space-between;
}

.p-relative {
	position: relative;
}

.p-absolute {
	position: absolute;
}

.p-e-none {
	pointer-events: none;
}